PURAVIDA_DB_URL="jdbc:mysql://localhost:3306/puravida_local?createDatabaseIfNotExist=false&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
PURAVIDA_DB_USERNAME="puravida_app"
PURAVIDA_DB_PASSWORD="CAMBIAR_PASSWORD_LOCAL"
JWT_SECRET="CAMBIAR_SECRET_LOCAL"
JWT_EXPIRATION_MINUTES="120"

